<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <title>Consumer Complaint Prediction Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
            <div align="center"> 
              <h1>Hello. Welcome to Consumer Complaint Prediction Application!</h1>
              <ul>
                  <h3>I. INTRODUCTION</h3>
                  <p align="justify">This project is to use Machine Learning and Natural Language Processing algorithms to train a classifier 
                    to classify consumer financial product complaint narratives into different product types, for example, is the complaint 
                    very likely to be mortgage-related issue? Is the complaint very likely to be credit card-related issue etc. A logistic 
                    regression model was trained on <a href="https://www.consumerfinance.gov/data-research/consumer-complaints">Consumer 
                    Complaint Database</a> (2011 - 2017) First let us take a look at some exploratory data analysis.</p><br>
                  
                  <h3>II. EXPLORATORY DATA ANALYSIS</h3>
                  <figcaption>Figure 1</figcaption>
                  <img src="/static/img/count of complaints.png" width="900" height="750"><br>
                  <p>As the chart above (Figure 1) shows, mortgages received the most number of complaints in the period of 2011 - 2017.</p><br>
                  
                  <figcaption>Figure 3</figcaption>
                  <img src="/static/img/heat map.png" width="900" height="800"><br>
                  <p>The heat map/correlations (Figure 3) show the following:</p>
                  <p align="left">1) Mortgage related complaints are generally submitted via referral, and they tend to be closed without relief, or to be closed with explanations;</p>
                  <p align="left">2) Credit card and bank account services related complaints are more likely to be closed with monetary relief</p><br> 
                  
                  <figcaption>Figure 4</figcaption>
                  <img src="/static/img/wordcloud.png" width="900" height="400"><br>

                  <h3>III. MAKE PREDICTION ON CONSUMER COMPLAINTS</h3>
                  <form id='input' method='post' action='classify'>
                    <h4>Please enter the consumer complaint(s) into the boxes below to see what product types they belong to:</h4>
                    <p>
                      Complaint 1: 
                      <input style="width:400px;font-size:11pt;" type='text' name='complaint1' placeholder=''/>
                    </p>
                    <p>
                      Complaint 2: 
                      <input style="width:400px;font-size:11pt;" type='text' name='complaint2' placeholder=''/>
                    </p>
                    <p>
                      Complaint 3: 
                      <input style="width:400px;font-size:11pt;" type='text' name='complaint3' placeholder=''/>
                    </p>
                    <p>
                      Complaint 4: 
                      <input style="width:400px;font-size:11pt;" type='text' name='complaint4' placeholder=''/>
                    </p>
                    <p>
                      Complaint 5: 
                      <input style="width:400px;font-size:11pt;" type='text' name='complaint5' placeholder=''/>
                    </p>
                    <input name="Submit" type="submit" value="Submit" /><br>
                  </form>
              </ul>

              <h4>My name is Wenbo. I can be reached at:</h4>
              <a href="https://www.linkedin.com/in/wenbo-yu"><img src="/static/img/LinkedIn.png" width="30" height="30"/></a>
              <a href="https://github.com/Wenbo-Git"><img src="/static/img/GitHub.png" width="75" height="30"/></a>
            </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>